<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Admin Panel</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/edit_scholarship.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/89de733934.js"></script>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Scholarship</header>
    <ul>
        <li><a href="/admin"><i class="fas fa-qrcode"></i>Dashboard</a></li>
        <li><a href="/admin/uniAdmissionAdminEdit"><i class="fas fa-edit"></i>Edit Uni-Admission</a></li>
        <li><a href="/admin/uniAdmissionAdminAdd"><i class="fas fa-plus"></i>Add Uni-Admission</a></li>
        <li><a href="/admin/otherAddition"><i class="fas fa-calendar-week">Other Addition</i></a></li>
        <li><a href="/admin/blog_admin"><i class="fab fa-blogger-b"></i>Blog</a></li>
        <li><a href="/admin/scholarship_admin"><i class="fas fa-funnel-dollar"></i>Scholarship</a></li>
        <li><a href="#"><i class="far fa-question-circle"></i>About</a></li>
        <li><a href="#"><i class="fas fa-pro"></i>Services</a></li>
    </ul>
</div>

<section id="edit-scholarship">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/scholarship_admin">Scholarship Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Scholarship</li>
        </ol>
    </nav>
    <div class="card card-6">
        <div class="card-body">
            <form action="/admin/scholarship_admin/edit_scholarship/<%= scholarship.scholarshipId %>" method="POST" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="row">
                        <div class="col-12">
                            <h3>Scholarship Title</h3>
                        </div>
                        <div class="col-12">
                            <div class="value">
                                <input type="text" name="scholarshipTitle" class="form-control" placeholder="Write Title" value="<%= scholarship.scholarshipTitle %>">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-12">
                            <h3>Country Name</h3>
                        </div>
                        <div class="col-12">
                            <div class="value">
                                <input type="text" name="country" class="form-control" placeholder="Write Country Name" value="<%= scholarship.country %>">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-12">
                            <h3>University Name</h3>
                        </div>
                        <div class="col-12">
                            <div class="value">
                                <input type="text" name="university" class="form-control" placeholder="Write University Name" value="<%= scholarship.university %>">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-12">
                            <h3>Funding Type</h3>
                        </div>
                        <div class="col-12">
                            <div class="value">
                                <input type="text" name="fundingType" class="form-control" placeholder="Write Funding Type" value="<%= scholarship.fundingType %>">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-12">
                            <h3>Program Type</h3>
                        </div>
                        <div class="col-12">
                            <div class="value">
                                <input type="text" name="programType" class="form-control" placeholder="Write Program Type" value="<%= scholarship.programType %>">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-12">
                            <h3>Subjects</h3>
                        </div>
                        <div class="col-12">
                            <div class="value">
                                <input type="text" name="subject" class="form-control" placeholder="Write Subjects" value="<%= scholarship.subject %>">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-12">
                            <h3>Eligible For</h3>
                        </div>
                        <div class="col-12">
                            <div class="value">
                                <input type="text" name="eligibleList" class="form-control" placeholder="Write Eligible For" value="<%= scholarship.eligibleList %>">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-12">
                            <h3>Scholarship Benefits</h3>
                        </div>
                        <div class="col-12">
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="form-control" name="scholarshipBenefits" placeholder="Write Benefits"><%= scholarship.scholarshipBenefits %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-12">
                            <h3>Scholarship Description</h3>
                        </div>
                        <div class="col-12">
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="form-control" name="scholarshipDescription" placeholder="Write Description"><%= scholarship.scholarshipDescription %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-12">
                            <h3>Degree Level</h3>
                        </div>
                        <div class="col-12">
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="form-control" name="degreeLevel" placeholder="Write Degree Level"><%= scholarship.degreeLevel %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-12">
                            <h3>Available Subjects</h3>
                        </div>
                        <div class="col-12">
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="form-control" name="availableSubjects" placeholder="Write Available Subjects"><%= scholarship.availableSubjects %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-12">
                            <h3>Eligible Nationalities</h3>
                        </div>
                        <div class="col-12">
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="form-control" name="eligibleNationalities" placeholder="Write Eligible Nationalities"><%= scholarship.eligibleNationalities %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-12">
                            <h3>Eligibility Criteria</h3>
                        </div>
                        <div class="col-12">
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="form-control" name="eligibilityCriteria" placeholder="Write Eligibility Criteria"><%= scholarship.eligibilityCriteria %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-12">
                            <h3>Open Till</h3>
                        </div>
                        <div class="col-12">
                            <div class="value">
                                <!--                                Converting to DateFormat-->
                                <% const date = new Date(scholarship.date); %>
                                <% var convertedDate = date.getFullYear() + '-' + (date.getMonth() + 1)+ '-' + date.getDate(); %>
                                <input type="text" name="date" class="form-control" value="<%= convertedDate %>" placeholder="YYYY-MM-DD" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <h3>Upload Image</h3>
                    <div class="value">
                        <p>Current Image: <%= scholarship.universityImage %></p>
                        <div class="input-group">
                            <input class="input-file" type="file" name="uploaded_image">
                        </div>
                        <p><%= labelWarning %></p>
                    </div>
                </div>

                <div class="form-row">
                    <button class="btn btn-primary" name="submit" type="submit">Submit Scholarship</button>
                </div>
            </form>
        </div>
    </div>

</section>

</body>
</html>