<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarships</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/scholarship.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
        <!-- Nav Bar -->
    <%- include("navbar") -%>
        <section id="scholarship">
            <div class="col-md-6 col-lg-6 col-11 mx-auto my-auto search-box">
                <form action="/scholarship" method="post">
                    <div class="input-group form-container">
                        <select class="form-select search-input" name="search">
                            <option disabled selected>Select Country</option>

                            <% listOfCountries.forEach(function (countryName) { %>
                                <option> <%= countryName.country %> </option>
                            <% }) %>

                        </select>
                        <span class="input-group-btn">
                        <button class="btn btn-search" type="submit" name="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </span>
                    </div>
                </form>
            </div>

            <% listOfScholarships.forEach(function (scholarship) { %>

                <div class="scholarship-card">
                    <div class="card-warp">
                        <div class="container">
                            <div class="row">
                                <div class="card-img col-lg-6 col-md-4 col-sm-12">
                                    <img src="http://localhost:5000/img/scholarships/<%= scholarship.universityImage %>" alt="">
                                </div>
                                <div class="card-info col-lg-6 col-md-4 col-sm-12">
                                    <h2> <%= scholarship.scholarshipTitle %> </h2>
                                    <ul>
                                        <li>
                                            <i class="fas fa-funnel-dollar"></i> <%= scholarship.fundingType %> </li>
                                        <li>
                                            <i class="fas fa-university"></i> <%= scholarship.university %> </li>
                                        <li>
                                            <i class="fas fa-user-graduate"></i> <%= scholarship.programType %> </li>
                                        <li>
                                            <i class="fas fa-book"></i> <%= scholarship.subject %> </li>
                                        <li>
                                            <i class="fas fa-globe-europe"></i> <%= scholarship.eligibleList %> </li>
                                        <li>
                                            <i class="fas fa-map-marked-alt"></i> <%= scholarship.country %> </li>
                                        <li>
                                            <!--Converting to DateFormat-->
                                            <% const date = new Date(scholarship.date); %>
                                            <% var convertedDate = date.getFullYear() + '/' + (date.getMonth() + 1)+ '/' + date.getDate(); %>
                                            <i class="fas fa-calendar"></i> <%= convertedDate %> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- .card-warp end -->
                    <div class="card-more">
                        <a href="/scholarship/scholarship_details/ <%= scholarship.scholarshipId %> "><span>Learn More</span><i class="icon-arrow-long-right"></i></a>
                    </div>
                </div>

            <% }) %>

        </section>

        <!-- Footer section -->
        <%- include("footer") -%>

        <!-- jQuery Here -->
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>