<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/uniAdmissionAdminAdd.css">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/89de733934.js" crossorigin="anonymous"></script>

</head>
<body>
<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>AbroadX</header>
    <ul>
        <li><a href="/admin"><i class="fas fa-qrcode"></i>Dashboard</a></li>
        <li><a href="/admin/uniAdmissionAdminEdit"><i class="fas fa-edit"></i>Edit Uni-Admission</a></li>
        <li><a href="/admin/uniAdmissionAdminAdd"><i class="fas fa-plus"></i>Add Uni-Admission</a></li>
        <li><a href="/admin/otherAddition"><i class="fas fa-calendar-week">Other Addition</i></a></li>
        <li><a href="#"><i class="far fa-question-circle"></i>About</a></li>
        <li><a href="#"><i class="fas fa-pro"></i>Services</a></li>
        <li><a href="#"><i class="far fa-snout"></i>logout</a></li>

    </ul>
</div>
<section>

    <div class="container">
        <form action="/data/add_new_varsity_record" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="level">Level:</label>
                <br>
                <select name="level" class="form-control">
                    <option value="0">Bachelor</option>
                    <option value="1">Master</option>
                    <option value="2">PhD</option>
                </select>
            </div>
            <div class="form-group">
                <label for="area">Area:</label>
                <br>
                <select name="area" class="form-control">
                    //for loop

                    {{#each areaResults}}
                        <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="university">University:</label>
                <br>
                <select name="university" class="form-control">
                    //for loop

                    {{#each results}}

                        <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}

                </select>
            </div>

            <div class="form-group">
                <label for="subject">Subject:</label>
                <br>
                <input type="text" name="subject" class="form-control">
            </div>
            <div class="form-group">
                <label for="post">Post:</label>
                <br>
                <textarea name="post" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="date">Application Deadline:</label>
                <br>
                <input type="date" name="date" class="form-control">
            </div>
            <div class="form-group">
                <label for="formal_prereq">Formal Prerequisite:</label>
                <br>
                <textarea name="formal_prereq" class="form-control" ></textarea>
            </div>
            <div class="form-group">
                <label for="tuition_fee">Tuition:</label>
                <br>
                <textarea name="tuition_fee" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="degree_level">Degree Level:</label>
                <br>
                <input type="text" name="degree_level" class="form-control">
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <br> <input type="text" name="city" class="form-control">
            </div>
            <div class="form-group">
                <label for="credit">Credit:</label>
                <br>
                <input type="number" name="credit" class="form-control">
            </div>
            <div class="form-group">
                <label for="language">Language:</label>
                <br>
                <input type="text" name="language" class="form-control">
            </div>
            <button type="submit" class="add_btn">Add</button>

        </form>
    </div>

    {{#if message}}
        <h4 class="alert-info"> {{message}}</h4>
    {{/if}}
</section>
</body>
</html>
